:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-8xl: 27px;
  --font-size-41xl: 60px;
  --font-size-16xl: 35px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-grey-primary: #dddddd;
  --color-grey-secondary: #bfbfbf;
  --color-grey-darker: #7e7e7e;

  --color-secondary-black: #191919;
  --color-secondary-black-darker: #121212;
  --color-red: #e8505b;
  --color-blue: #4e95fe;
  --color-yellow: #ffd966;
  --color-purple: #632f93;
  --color-green: #00d085;

  /* border radiuses */
  --br-5xs: 8px;
  --br-mini: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
}

.job-detail-header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: auto;
}

.job-detail-heading {
  font-size: 4rem;
  font-weight: 400;
  padding-bottom: 7%;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
}

.dropdown {
  margin-right: 20px;
  width: 100%;
}

label {
  margin-right: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}

select,
input {
  padding: 8px;
  border-radius: 5px;
  border: 4px solid #ccc;
  width: 50%;
  font-size: 1.2rem;
  color: white;
  /* background-color: #f8f8f8; */
  background: transparent;
  transition: border-color 0.3s ease-in-out;
  box-shadow: 2px 3px 10px 1px #632f93;
}

select:hover,
input:hover {
  border-color: #888;
}

select:focus,
input:focus {
  outline: none;
  border-color: #555;
  box-shadow: 4px 6px 10px 2px #632f93;
}

select option {
  background: transparent;
  color: black;
  font-size: 1rem;
  transition: 0.3s;
}

.custom-dropdown option {
  background-color: #fff;
  color: #333;
  padding: 8px;
  margin-bottom: 8px;
}

/* Adjust the date picker container */

.datepicker-wrapper {
  display: flex;
  align-items: center;
}

.custom-datepicker {
  padding: 8px;
  border-radius: 5px;
  border: 4px solid #ccc;
  width: 50%;
  font-size: 1.2rem;
  color: white;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
  box-shadow: 2px 3px 10px 1px #632f93;
}

.custom-datepicker:hover {
  border-color: #888;
}

.custom-datepicker:focus {
  outline: none;
  border-color: #555;
  box-shadow: 4px 6px 10px 2px #632f93;
}

.login-btn {
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 24px;
  background: var(--color-secondary-black);
  padding: 10px 30px 10px 30px;
  border: solid #4e0983 3px;
  transition: background-color 0.3s ease;
  background-origin: border-box;
  text-decoration: none;
}

.login-btn:hover {
  background: #8e0279;
  background-image: -webkit-linear-gradient(top, #8e0279, #380066);
  background-image: -moz-linear-gradient(top, #8e0279, #380066);
  background-image: -ms-linear-gradient(top, #8e0279, #380066);
  background-image: -o-linear-gradient(top, #8e0279, #380066);
  background-image: linear-gradient(to bottom, #8e0279, #380066);
  text-decoration: none;
  cursor: pointer;
}

/* Adjustment for top container and buttons */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-container {
  display: flex;
}

.login-btn {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }
  .dropdown {
    margin-right: 0;
    margin-bottom: 10px;
  }
  select {
    width: 80%;
  }
}
